html, body, nav, header, section, ul, li, div, p
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  vertical-align: baseline
  font-family: 'Roboto', sans-serif

body
  line-height: 1

header
  display: block

button
  cursor: pointer
  padding: 0
  margin: 0
  box-sizing: border-box
  border: 0
  font-size: 1vw
