@import ../values

nav.app-nav-container
  background: #222
  height: 75px
  flex: 1
  display: flex
  flex-direction: row

.app-link
  padding: 15px
  height: 45px
  display: inline-block
  width: 240px

.app-icon
  height: 45px

.app-menu-container
  flex: 1
  color: $white
  padding: 15px;
  text-align: center

.app-menu-list

.app-menu-item
  display: inline-block
  line-height: 45px

header.about-container
  background: url('../img/mobile-header.png') center no-repeat
  background-size: cover
  height: 88vw
  color: $white


.about-title-container
  text-align: center
  padding-top: 11vw

.about-title
  display: inline-block
  position: relative

.about-title-the, .about-title-greatest, .about-title-shows
  font-family: 'Playfair Display'

.about-title-the, .about-title-shows
  font-size: 1.75vw
  position: absolute

.about-title-greatest
  font-size: 5vw

.about-title-the
  top: -.5vw
  left: 3.6vw

.about-title-shows
  right: 0
  bottom: -2vw

.about-more-container
  text-align: center
  padding-top: 22.1vw

.about-more
  display: inline-block

.about-more-headline
  font-size: 1.65vw

.app-button
  color: $buttonGreen
  width: 10.5vw
  height: 2vw
  background: $white
  margin-top: 1vw
  font-size: .6vw

.app-first-button
  margin-right: 1vw

.app-button-default
  border: .05vw solid $buttonGreen

.app-button-primary
  background: $buttonGreen
  color: $white

.about-featuring
  position: relative
  padding-top: 2vw


.about-featuring-left
  position: absolute
  left: 1vw
  width: 20vw
  text-align: center

.about-featuring-companies
  position: absolute
  left: 20vw
  right: 20vw
  width: 50vw
  padding: 2vw 5vw

.about-featuring-right
  position: absolute
  right: 3.65vw
  width: 20vw
  text-align: center

.about-featuring-keynote
  font-size: 1.15vw
  line-height: 2.5vw
  font-weight: 300

.about-featuring-speaker
  font-size: 1.55vw


.work-icons


.work-icons-container
  display: none
  width: 68vw
  margin: 2.5vw auto

.work-future-container
  width: 35vw
  margin: 0 auto
  text-align: center

.work-future-heading
  text-transform: uppercase
  color: $buttonGreen
  font-size: 1.5vw
  padding-top: 1vw
  margin-bottom: 1vw
  font-weight: 300

.work-future-container p
  font-size: .64vw
  line-height: 1.25vw
  margin-bottom: 1vw
  color: #4d4d4d

.work-buttons-container
    width: 35vw
    margin: 4vw auto
    text-align: center

.attends-container
  height: 20vw
  background: #000
